<div class="card card-compact w-96 bg-base-100 shadow-xl hover:scale-105 card-bordered transition-all ease-linear">
  <a href="{% url 'listings:viewlisting' listing.pk %}">
    <figure class="object-cover h-72 w-full">
      {% if listing.imagemodel_set.first %}
        <img src="{{ listing.imagemodel_set.first.image.url }}" alt="{{ listing.title }}" />
      {% else %}
        {% include 'svg/fallback.html' %}
      {% endif %}
    </figure>
    <div class="card-body">
      <span class="flex flex-row justify-between">
        <h2 class="card-title">{{ listing.title }}</h2>
        {% if page == 'profile' %}
          <span>{% include 'listings/partials/listing_status_badge.html' %}</span>
        {% endif %}
      </span>
      <p>
        If a dog chews shoes whose shoes does he choose? jan en alleman zijn
        helemaal gek geworden. lalal ik typ maar wat zodar=t er veel stat
      </p>
    </div>
  </a>
  <div class="card-actions justify-end">
    <span class="absolute top-3 right-3">{% include 'widgets/favourite_but.html' %}</span>
  </div>
</div>
