<div class="card card-compact w-96 bg-base-100 shadow-xl hover:scale-105 card-bordered transition-all ease-linear">
  <a href="{% url 'listings:viewlisting' listing.pk %}">
    <figure class="object-cover h-72 w-full">
      {% if listing.imagemodel_set.first %}
        <img src="{{ listing.imagemodel_set.first.image.url }}"
             alt="{{ listing.title }}" />
      {% else %}
        {% include 'svg/fallback.html' %}
      {% endif %}
    </figure>
    <div class="card-body">
      <span class="flex flex-row justify-between">
        <h2 class="card-title">
          {{ listing.cardetails.full_make_name }}
          {% if page == 'profile' %}
            <span>{% include 'listings/partials/listing_status_badge.html' %}</span>
          {% elif listing.status == listing.Status.SOLD or listing.status == listing.Status.RESERVED %}
            <span>{% include 'listings/partials/listing_status_badge.html' %}</span>
          {% endif %}
        </h2>
      </span>
      <p class="flex flex-col gap-4">
        <div>
          {% for detail in listing.cardetails.appropriate_details %}
            <span class="border border-accent rounded-sm py-1 px-2 mr-2">{{ detail }}</span>
          {% endfor %}
        </div>
        <span class="text-2xl font-bold justify-self-end">
          €
          {{ listing.pricetype }},-
        </span>
      </p>
    </div>
  </a>
  <span class="absolute top-3 right-3">{% include 'widgets/favourite_but.html' %}</span>
  <div class="card-actions justify-end p-4">
    <div class="badge badge-outline">{{ listing.format }}</div>
    <div class="badge badge-outline">{{ listing.priceform }}</div>
  </div>
</div>
