{% load i18n %}

<div role="alert"
     class="alert border-info fixed bottom-10 z-20 max-w-6xl w-full inset-x-0 mx-auto"
     id="cookie_banner">
  <svg xmlns="http://www.w3.org/2000/svg"
       fill="none"
       viewBox="0 0 24 24"
       class="stroke-info shrink-0 w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
    </path>
  </svg>
  <span>{% blocktrans %}By using this website you agree to our <button class="link link-info" onclick="cookie_modal.showModal()">Cookiepolicy</button>{% endblocktrans %}</span>
  <div>
    <button class="btn sm:btn-md btn-success btn-wide"
            hx-post="{% url 'autotradespot:cookies' %}"
            hx-trigger="click"
            _="on click remove #cookie_banner">Accept</button>
  </div>
</div>
