<div class="p-6 max-w-6xl mx-auto">
  <h3 class="text-center text-2xl mb-4 text-accent">
    Revamp Your Ride: Buy, Sell, Lease.
    <br />
    Your Car, Your Way!
  </h3>
  <div class="stats stats-vertical lg:stats-horizontal shadow bg-base-200">
    <div class="stat space-y-4">
      <h4 class="stat-title underline text-center">Place an Listing</h4>
      <span class="text-center text-sm align-text-top">Ready to sell your car? Placing an listing on Our Platform is a breeze!
        Simply sign in, provide the essential details about your car, add some
        eye-catching photos, set a price, and you're good to go. Our intuitive
        interface makes the process quick and effortless, ensuring your listing is up
        and running in no time. Reach potential buyers swiftly and
      smoothly!</span>
    </div>
    <div class="stat space-y-4">
      <h4 class="stat-title underline text-center">Connect with buyers</h4>
      <span class="text-center text-sm align-text-top">Excited to hear from potential buyers? Our Platform makes communication
        secure and convenient. Interested buyers can easily reach out to you
        through our platform. Worried about privacy? You can choose to obscure
        your contact information, allowing communication to take place through
      us, and share your info only to those that matter</span>
    </div>
    <div class="stat space-y-4">
      <h4 class="stat-title underline text-center">Your Car, Your Deal!</h4>
      <span class="text-center text-sm align-text-top">Congratulations! Your car has found its new owner. At Auto TradeSpot,
        we celebrate your success. The negotiation and deal-making process
        happens directly between you and the interested buyer, giving you
        complete control and ensuring a satisfactory trade. It's all about
        connecting car enthusiasts and achieving the best trade-off. Drive on to
      your next adventure, knowing you had a successful deal</span>
    </div>
  </div>
</div>
