{% load i18n %}

<div class="navbar bg-base-200 fixed top-0 z-20">
  <!-- <div class="flex justify-between items-center top-0 py-2 px-4"> -->
  <div class="navbar-start hidden md:flex">
    <a href="{% url 'autotradespot:home' %}" class="max-w-[200px]">
      {% load static %}

      <img width="200"
           height="auto"
           src="{% static 'images/svgexport-45.svg' %}"
           alt="logo" />
    </a>
  </div>
  <div class="navbar-start flex md:hidden space-x-4">
    <a class="btn btn-outline text-xl"
       href="{% url 'listings:createlistingnew' %}">{% trans "create" %}</a>
    <a class="btn btn-outline text-xl"
       href="{% url 'listings:createlistingreact' %}">{% trans "create react" %}</a>
    <a class="btn btn-outline text-xl"
       href="{% url 'listings:searchlistings' %}">{% trans "find" %}</a>
  </div>
  <div class="navbar-center hidden md:flex space-x-4">
    <a class="btn btn-outline text-xl"
       href="{% url 'listings:createlistingnew' %}">{% trans "create listing" %}</a>
    <a class="btn btn-outline text-xl"
       href="{% url 'listings:createlistingreact' %}">{% trans "create react" %}</a>
    <a class="btn btn-outline text-xl"
       href="{% url 'listings:searchlistings' %}">{% trans "find your car" %}</a>
  </div>
  <div class="navbar-center flex md:hidden spaxe-x-4"></div>
  <div class="navbar-end space-x-2">
    <div class="dropdown dropdown-end">
      <div tabindex="0"
           role="button"
           class="btn btn-outline btn-accent duration-200 text-accent-content">{% trans 'my Tradespot' %}</div>
      <ul tabindex="0"
          class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4 gap-2">
        <li>
          <a href="{% url 'autotradespot:home' %}">home</a>
        </li>
        <li>
          <a href="{% url 'users:detail' %}" class="border border-accent">{% trans "profile" %}</a>
        </li>
        <li>
          <label class="flex flex-row justify-between">
            <span class="label-text">{% trans "light" %}</span>
            <input id="theme-controller"
                   type="checkbox"
                   class="toggle theme-controller"
                   data-toggle-theme="coffee"
                   {% if request.localstorage.theme %}checked{% endif %} />
            <span class="label-text">{% trans "dark" %}</span>
          </label>
        </li>
        <div class="divider my-0 h-2">{% trans "language" %}</div>
        <li>
          <a hx-post="{% url "set_language" %}"
             hx-vals='{"language":"en"}'
             hx-target="body">{% trans "english" %}</a>
        </li>
        <li>
          <a hx-post="{% url "set_language" %}"
             hx-vals='{"language":"nl-nl"}'
             hx-target="body">{% trans "dutch" %}</a>
        </li>
        <div class="divider my-0 h-2"></div>
        {% if request.user.is_authenticated %}
          <li>
            <a href="{% url 'account_logout' %}" class="border border-error">{% trans "logout" %}</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'account_login' %}" class="border border-success">{% trans "login" %}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
</div>
