{% extends 'base.html' %}

{% block content %}
  {% load i18n %}

  <div class="grid grid-flow-row grid-cols-6 my-4" role="tablist">
    <ul class="flex flex-col text-sm font-medium text-center text-base-content z-10"
        _="on htmx:beforeOnLoad take .bg-base-300 from .tablink for event.target then take .-mr-1 from .tablink for event.target then take .text-base-content from .tablink for event.target">
      <li class="">
        <button role="tab"
                id="defaultOpen"
                class="tablink text-base-content bg-base-300 mr-[-2px] inline-block p-4 w-full rounded-l-lg hover:text-base-content hover:bg-base-300 duration-300 shadow-sm"
                aria-selected="false"
                aria-controls="tabcontent"
                hx-target="#tabcontent"
                hx-get="{% url 'autotradespot:createadlicenceplate' %}"
                hx-swap="innerHTML">{% translate "Licenceplate" %}</button>
      </li>
      <li class="">
        <button role="tab"
                class="tablink inline-block p-4 w-full rounded-l-lg hover:text-base-content hover:bg-base-300 duration-300 shadow-sm"
                aria-selected="false"
                aria-controls="tabcontent"
                hx-target="#tabcontent"
                hx-get="{% url 'autotradespot:createadtype' %}"
                hx-swap="innerHTML">{% translate "Title" %}</button>
      </li>
      <li class="">
        <button role="tab"
                class="tablink inline-block p-4 w-full rounded-l-lg hover:text-base-content hover:bg-base-300 duration-300 shadow-sm"
                aria-selected="false"
                aria-controls="tabcontent"
                hx-target="#tabcontent"
                hx-get="{% url 'autotradespot:createadmake' %}"
                hx-swap="innerHTML">{% translate "Make/Model" %}</button>
      </li>
      <li class="">
        <button role="tab"
                class="tablink inline-block p-4 w-full rounded-l-lg hover:text-base-content hover:bg-base-300 duration-300 shadow-sm"
                aria-selected="false"
                aria-controls="tabcontent"
                hx-target="#tabcontent"
                hx-get="{% url 'autotradespot:createaddetails' %}"
                hx-swap="innerHTML">{% translate "Details" %}</button>
      </li>
      <li class="">
        <button role="tab"
                class="tablink inline-block p-4 w-full rounded-l-lg hover:text-base-content hover:bg-base-300 duration-300 shadow-sm"
                aria-selected="false"
                aria-controls="tabcontent"
                hx-target="#tabcontent"
                hx-get="{% url 'autotradespot:uploadadimages' %}"
                hx-swap="innerHTML">{% translate "Images" %}</button>
      </li>
      <li class="">
        <button role="tab"
                class="tablink inline-block p-4 w-full rounded-l-lg hover:text-base-content hover:bg-base-300 duration-300 shadow-sm"
                aria-selected="false"
                aria-controls="tabcontent"
                hx-target="#tabcontent"
                hx-get="{% url 'autotradespot:advertisementpreview' %}"
                hx-swap="innerHTML">{% translate "Preview" %}</button>
      </li>
    </ul>
    <div class="flex flex-col justify-between start-1 col-span-5 bg-base-300 p-4 rounded-r-lg border-r border-t border-b border-l border-gray-300"
         hx-target="#tabcontent"
         hx-get="{% if 'LP_data' in request.session or 'ad_in_progress' in request.session %}{% url 'autotradespot:createadtype' %} {% else %} {% url 'autotradespot:createadlicenceplate' %} {% endif %}"
         hx-swap-oob="innerHTML"
         hx-trigger="load">
      <div id="tabcontent"></div>
      <div id="adform_actions" class="flex flex-row space-x-4 mt-4">
        <button class="btn btn-secondary"
                hx-delete="{% url 'autotradespot:createadnew' %}"
                hx-swap="none">
          <span class="ti-eraser"></span> {% translate 'clear' %}
        </button>
        <button class="btn btn-outline btn-secondary" hx-put="{% url 'autotradespot:createadnew' 'draft' %}" hx-target="
          <body/> ">{% translate 'continue later' %}</button>
        <button class="hidden btn-primary btn" hx-put="{% url 'autotradespot:createadnew' 'final' %}" hx-target="
          <body/> ">{% translate 'finalize' %}</button>
      </div>
    </div>
  </div>
  {% load static %}

  <script src="{% static 'scripts/tabbox_script.js' %}"></script>
{% endblock content %}
