<span class="filter-card p-4 gap-4 relative flex justify-between border-2 border-icon-green rounded-md"
      form="filtersform">
  <span>{{ make_form }}</span>
  <span>{{ model_form }}</span>
  <button class="hover:decoration-icon-green py-2 px-4 flex flex-col items-center group"
          _="on click remove the closest parent <span/>">
  <span class="ti-trash no-underline text-xl group-hover:text-red-600"></span><span class="underline underline-offset-2 group-hover:decoration-red-600">Delete</span>
</button>
</span>
