{% extends 'base.html' %}

{% block content %}
  <div class="flex flex-col p-4 rounded-lg shadow-lg w-96 bg-base-200 items-center mt-8 mx-auto">
    <h2 class="text-3xl text-base-content">{{ page }}</h2>
    <form action="{% if page == 'login' %}{% url 'autotradespot:login' %}{% else %} {% url 'autotradespot:register' %}{% endif %}"
          method="post"
          class="space-y-4">
      {% csrf_token %} {{ form.as_div }}
      <button type="submit" class="btn btn-primary">{{ page }}</button>
      <button class="btn btn-secondary btn-outline"
              type="button"
              hx-get="{% if page == 'login' %}{% url 'autotradespot:register' %}{% else %} {% url 'autotradespot:login' %}{% endif %}"
              hx-target="body">
        {% if page == 'login' %}
          Create new account
        {% else %}
          Go to login
        {% endif %}
      </button>
    </form>
  </div>
{% endblock content %}
