<span id="contact_form" class="flex flex-col space-y-2">
  <form id="contactform"
        class="flex flex-col space-y-2"
        hx-post="{% url 'listings:contactform' listing_pk %}"
        hx-target="#contact_form"
        hx-swap="innerHTML">
    {{ form.non_field_errors }}
    <label for="{{ form.from_email.id_for_label }}" class="form-control w-full">
      {{ form.from_email.errors }}
      <div class="label">
        <span class="label-text">{{ form.from_email.label_tag }}</span>
      </div>
      {{ form.from_email }}
    </label>
    <label for="{{ form.subject.id_for_label }}" class="form-control w-full">
      {{ form.subject.errors }}
      <div class="label">
        <span class="label-text">{{ form.subject.label_tag }}</span>
      </div>
      {{ form.subject }}
    </label>
    <label for="{{ form.message.id_for_label }}" class="form-control w-full">
      {{ form.message.errors }}
      <div class="label">
        <span class="label-text">{{ form.message.label_tag }}</span>
      </div>
      {{ form.message }}
    </label>
  </form>
  <span class="flex flex-row space-x-2">
    <button form="contactform" class="btn btn-primary btn-wide" type="submit">Send</button>
    <button class="btn btn-secondary"
            hx-get="{% url 'listings:contactformcancel' %}"
            hx-target="#contact"
            hx-swap="innerHTML">Cancel</button>
  </span>
</span>
