<span id="formthing">
  {% load static %}

  <form class="flex flex-col space-y-4">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text text-base-content">Licenceplate number</span>
      </div>
      <input type="text"
             name="licenceplate"
             placeholder="AA-00-BB"
             value="{{ licence }}"
             class="input input-bordered input-sm w-full max-w-xs {% if licence_error %} input-error{% endif %}" />
    </label>
		{% if licence_error %}
		<p class="text-error">
			{{licence_error}}
		</p>
		{% endif %}
    <span class="flex flex-row space-x-2">
      <button class="btn btn-primary btn-wide"
              type="submit"
              hx-post="{% url 'listings:createlistinglicenceplate' %}"
              hx-trigger="click"
              hx-target="#formthing"
              hx-swap="outerHTML"
              _="on click toggle .hidden on #loading then add .step-success to #lp_tab">
        continue
        <span id="loading" class="hidden" _="on loadr toggle .hidden">{% include 'svg/three-dots.html' %}</span>
      </button>
    </span>
  </form>
</span>
