<main class="object-center mx-auto">
  {% if not listing %}
  <div>no listing to show</div>
  {% else %}
  <div class="max-w-fit mx-8 my-4 rounded-lg shadow-lg p-4 bg-slate-100">
    {% with images=listing.imagemodel_set.all %}
    <section class="w-full space-y-1">
      <span class="flex justify-between">
        <p class="text-xl text-icon-green">{{ listing.title }}</p>
        {% with listing=listing %} {% include 'widgets/favourite_but.html' %}
        {% endwith %}
      </span>
      <div class="flex space-x-4 text-sm">
        <span>100x gezien</span
        ><span>{{ favourites_cnt|default:0 }}x bewaard</span
        ><span>10 oktober 2023</span>
      </div>
    </section>
    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
      <section class="md:max-w-[60%] space-y-4 flex flex-col">
        <section class="rounded-lg overflow-hidden">
          <img
            id="bigimg"
            class="object-cover object-center w-[52rem] aspect-[4/3]"
            src="{{ images.0.image.url }}"
            alt=""
          />
        </section>
        <section class="">
          <div class="flex flex-row gap-2 overflow-x-auto">
            {% for image in images %}
            <img
              class="object-cover object-top aspect-square h-32 rounded-md hover:cursor-pointer duration-200 small-image"
              src="{{ image.image.url }}"
              alt="image.image.name"
              onclick="clicky()"
            />
            {% endfor %}
          </div>
        </section>
      </section>
      <section class="w-full md:w-2/5">
        {% with owner=listing.owner %} {% if owner.give_email %}
        <p>{{ owner.give_email }}</p>
        {% endif %} {% if owner.full_adress %}
        <p>{{ owner.full_adress }}</p>
        {% endif %} {% if owner.give_phone %}
        <p>{{ owner.give_phone }}</p>
        {% endif %} {% if owner.full_name %}
        <p>{{ owner.full_name }}</p>
        {% endif %} {% endwith %}
      </section>
    </div>
    {% endwith %}
  </div>
</main>
{% load i18n %}

<!-- added here for oob-swap to swap active status -->
<li
  id="preview_tab"
  role="tab"
  class="step step-success cursor-pointer"
  hx-target="#tabcontent"
  hx-get="{% url 'listings:listingpreview' %}"
  hx-swap="innerHTML"
  hx-swap-oob="true"
>
  <span class="hidden md:block text-sm text-base-content"
    >{% translate "Preview" %}</span
  >
</li>
{% comment %}
<script>
  function clicky(event) {
    e = event || window.event;
    var target = e.target || e.srcElement;
    parent = document.getElementById("bigimg");
    parent.src = target.src;

    let children = document.getElementsByClassName("small-image");
    Array.from(children).forEach((child) => {
      if (child === target) {
        child.classList.add("opacity-50");
      } else {
        child.classList.remove("opacity-50");
      }
    });
  }
  let images = document.getElementsByClassName("small-image");
  images[0].click();
</script>
{% endcomment %} {% endif %}
